$border-color: var(--border);
$arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14.1728 16'%3E%3Cpath d='M0 0H14.1728L7.08642 16Z' fill='%239E9E9E'/%3E%3C/svg%3E");

.field {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  inline-size: 100%;
  block-size: 48px;

  background: #fff;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.amount {
  box-sizing: border-box;

  flex: none;

  inline-size: 80px;
  block-size: 100%;
  padding: 0 12px;

  background: none;
  border: none;

  color: var(--text-main);
  font-size: 16px;

  &:focus-visible {
    outline: none;
  }
}

.currency {
  box-sizing: border-box;

  flex: 1;

  block-size: 100%;
  padding: 0 32px 0 12px;

  appearance: none;
  background: $arrow no-repeat right 12px center;
  border: none;
  border-radius: 0;

  color: var(--text-main);
  font-size: 16px;

  border-inline-start: 1px solid $border-color;

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 1;
    color: var(--text-main);

    -webkit-text-fill-color: var(--text-main);
  }
}
