:root {
  --bg-card: #fff;
  --bg-page: #f8f9fa;
  --border: #e0e0e0;
  --text-description: #5f6368;
  --text-main: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: var(--bg-page);

  color: var(--text-main);
  font-family:
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;

  -webkit-font-smoothing: antialiased;
}
