.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.subtitle,
.datetime {
  margin: 0;
  color: var(--text-secondary);
  font:
    400 20px/1 Inter,
    sans-serif;
}

.rate {
  margin: 0;
  color: var(--text-main);
  font:
    400 45px/1 Inter,
    sans-serif;
}
