$arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 15.41 12 10.83l4.59 4.58L18 14l-6-6-6 6z' fill='%23000000'/%3E%3C/svg%3E");

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.pair-button {
  inline-size: 215px;
  block-size: 50px;
  font:
    400 20px/1 Inter,
    sans-serif;
}

.arrow {
  display: inline-block;
  vertical-align: middle;

  inline-size: 12px;
  block-size: 12px;
  margin-inline-start: 5px;

  background: $arrow no-repeat center / contain;
}

.line {
  flex: 1;
  block-size: 1px;
  background: var(--border);
}

.item {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-block-end: 15px;
  color: var(--text-main);
  font:
    700 25px/1 Inter,
    sans-serif;
}

.description {
  margin: 0;
  color: var(--text-description);
  font:
    400 20px/1.1 Inter,
    sans-serif;
}
