.section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 24px;

  inline-size: 100%;
  max-inline-size: 1000px;
  margin-block-start: 32px;
  padding-block-start: 24px;

  border-block-start: 1px solid var(--border);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  margin: 0;
  color: var(--text-main);
  font-size: 18px;
  font-weight: 700;
}

.description {
  margin: 0;
  color: var(--text-description);
  font-size: 14px;
  line-height: 1.6;
}
